<!-- autor: Jana Toljaga -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm identity</title>
    <link rel="stylesheet" href="../../public/assets/css/que_style.css">
</head>
<body>
    <img src="../../public/assets/images/logo2.png" width="13%" height="17%"/>
    <a href="login.html"> <button class="back-to-home" type="button">Back</button></a>
    <a href="ch_pass.html"><button class="back continue" type="button">Check & Continue</button></a>
    <p id="p1">Tell us about yourself!</p>
    <div >
        <p class="text">Username:</p>
        <p class="text" id="p3">Favourite country? </p>
        <p class="text" id="p4">Something you always travel with? &nbsp </p>
        <p class="text" id="p5">Someone you always travel with? </p>
        <input type="text" class="username"/>
        <input type="text" id="t2" class="username"/>
        <input type="text" id="t3" class="username"/>
        <input type="text" id="t4" class="username"/>
        
    </div>
    <img src="../../public/assets/images/env.png" class="env">
</body>
</html>