/* autor: Jana Toljaga */
@font-face{
    font-family: myFont;
    src:url(traveljournal.ttf);
}
.fas.fa-trash-alt{
    display: inline;
    color:  #587ba0;
    
    
}

body{
  
    background-image: url(slike/background77.jpg) ;
   background-repeat:repeat;
   
   background-color: rgb(251, 227, 170);
   width: 100%;
   
   padding-left: 0%;
   padding-top: 0%;
   position: absolute;
  /* height: auto;*/
    
    float: left;
   font-family: myFont;
   background-position-x: left;
   margin-top: 1%;
   margin-left: 0px;
color:white;
    
}
.imgDiff{
    position: absolute;
    left: 0px;
    top: 0%;
    z-index: -1;
    
}

#header{
    width:100%;
    background-position:left;
    height:20%;
  
   margin-left: 0px;
   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   align-items: center;
    float:left;
    padding-top: 0%;
   
    background-color:transparent;
    background-position:0px;
    offset-position: 0px;
    position: absolute;
}


#page h1 {
    text-align: center;
    font-size: 40px;
   
    /*margin-top: 5%;*/
}
::-webkit-scrollbar {
    width: 7px;  
   align-self:center;
   margin-top: 10px;
 }
  
 ::-webkit-scrollbar-thumb {   
   border-radius: 25px;
   background: #587ba0;
  }
  
 ::-webkit-scrollbar-track {     
   background-color: #fff7e0;
 }
#page_main{
  /*  display: flex;
    flex-direction: row;*/
   /* justify-content:space-around;*/
    align-items: center;
    float: left;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    color:black;
    position: absolute;
   
   
}
#list_div{
    z-index: 10;
    margin-top: 5%;
    position: relative;
}
#page_main ul{
    margin-top: 8%;
font-size: 20px;
text-align: left;
list-style: none;
position: relative;
max-height:420px;
 
  overflow:auto;
 
}
#page_main li{
    position: inherit;
    
}
.list{
    
    margin-bottom: 0px;
   
}
#page #page_left{
   
    align-items: left;
   float:left;
    font-size: 25px;
    margin-left: 0px;
    width: fit-content;
}
#page #page_right{
   
    align-items: right;
    float:right;
    font-size: 25px;
    width: fit-content;
}
.button{
  
   height: 40px;
   width: 40px;
   background-color: blueviolet;
   background-image: url(slike/polaroidnovi.png);
   border: none;
   display: inline-block;
   background-repeat: none;
   font-family: myFont;
   color:white;
   
}
#page_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 5%;
    
}


.bottomButton{
    height: 50px;
  font-size:27px;
   
    background-color:transparent;
    border: none;
    display: inline-block;
    background-repeat: none;
    font-family: myFont;
    color:white;
}
.bottomButton:hover{
    size:larger;
    background-color:#9BA3CA;
    border-radius: 25px;
    color:white;
}


a:link{
    height: 35px;
    
    background-color:transparent;
    border: none;
   
    font-family: myFont;
    font-size: 23px;
    color:white;
    text-decoration: none;
    
}
a:visited{
    color:white;
    font-style: normal;
    text-decoration: none;
}

a:active{
    color:white;
    size:larger;
    background-color:transparent;
    
}
a:hover{
    size:larger;
    background-color:#9BA3CA;
    border-radius: 20px;
    color:white;
    font-family: myFont;
    text-decoration: none;
}
.button:hover{
    size:larger;
    background-color:#9BA3CA;
    border-radius: 25px;
    color:white;
}
.HasButton{
    text-align: center;
}

.textField{
    font-size: 20px;
    border-radius: 25px;
    border: transparent;
}

td{
    height: 50px;
    margin-bottom: 5px;
}


#page_midddle{
    align-items: center;
    float:left;
   
    padding-top: 10px;
    
}

#page_middle ol{
    
    text-align: center;
    
    font-size: 25px;
}


.revName:link{
    height: 35px;
    
    background-color:transparent;
    border: none;
   
    font-family: myFont;
    font-size: 23px;
    color:black;
    text-decoration: none;
    
}
.revName:visited{
    color:black;
    font-style: normal;
    text-decoration: none;
}

.revName:active{
    color:black;
    size:larger;
    background-color:transparent;
    
}
.revName:hover{
    size:larger;
    background-color:#9BA3CA;
    border-radius: 15px;
    color:black;
    font-family: myFont;
    text-decoration: none;
}
.str{
   margin-left: 150%;
    
}

.custom_select{
    position:absolute;
    top: 122%;
    left:65%;
    z-index: 50;
    cursor: pointer;
}

#dropdown_list{
    background-color: rgb(255,247,224);
    font-size: 25px;
    font-family: myFont;
    border:none;
    outline: none;
    cursor: pointer;
    
}

.back-to-home{
    position: absolute;
    top: 5%;
    right: 1.75%;
    border-radius: 25px;
    padding: 14px;
    width: 10%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 4px 4px #333e7d;
    background: #4754a2;
    color: white;
    outline: none;
    font-family: myFont;
    font-size: 15px;
    border:none;
    cursor: pointer;
    
}

.back-to-home:hover{
    background: #333e7d;
    font-size: 17px;
}